@charset "UTF-8";
* {
  margin: 0%;
  padding: 0%; }

html {
  font-size: 62,5%; }

body {
  background-color: #042f66; }

p {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  color: #c1cad0; }

h1 {
  color: #c1cad0;
  text-align: center;
  font-weight: bold;
  font-size: 100px;
  font-family: 'Oswald', sans-serif; }

a {
  text-decoration: none;
  color: #c1cad0; }

li {
  color: #c1cad0; }

ul {
  color: #c1cad0;
  list-style-type: none; }

header {
  position: sticky;
  top: 0; }

.contenedorIndex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(7 1fr);
  grid-template-areas: "head head head"
 "header header header"
 "main main main"
 "main main main"
 "main main main"
 "main main main"
 "footer footer footer"; }

head {
  grid-area: head; }

header {
  grid-area: header; }

main {
  grid-area: main; }

footer {
  grid-area: footer; }

.logoImagen {
  margin: auto; }

.textoUno {
  text-align: center;
  color: #c1cad0;
  padding: 40px;
  font-size: 75px;
  word-spacing: 5px; }

.textoDos {
  text-align: center;
  color: #c1cad0;
  padding: 40px;
  font-size: 75px; }

.textoSeis {
  color: #c1cad0;
  text-align: center; }

.textoSiete {
  color: #c1cad0;
  text-align: center; }

.textoOcho {
  color: #c1cad0;
  text-align: center; }

.footerIndex {
  background: #042f66;
  background: linear-gradient(180deg, rgba(4, 47, 102, 0.944415) 0%, #1a5ee3 30%);
  display: flex;
  flex-direction: row;
  justify-content: end; }

.titulofooter {
  padding: 15px;
  margin: 15px;
  list-style-type: none; }

.instagramRSS img {
  width: 50px;
  padding: 5px;
  margin: 5px; }

.facebookRss img {
  width: 50px;
  padding: 5px;
  margin: 5px; }

.whatsappRss img {
  width: 50px;
  padding: 5px;
  margin: 5px; }

.contactoRss img {
  width: 50px;
  padding: 5px;
  margin: 5px; }

.cotizacionIndex img {
  width: 500px;
  padding: 5px;
  margin: 5px; }

.bg-lav {
  background: #042f66;
  background: linear-gradient(0deg, rgba(4, 47, 102, 0.944415) 0%, #1a5ee3 30%); }

.btn-primary {
  background-color: #c1cad0;
  border-color: #c1cad0;
  transition: all 0.25s ease-in-out; }

:not(.btn-check) .btn:hover {
  background-color: #c1cad0;
  border-color: #c1cad0;
  transform: scale(0.9); }

.nav-link {
  color: #c1cad0; }

.navbar-nav .nav-link.active .navbar-nav .show > .nav-link {
  color: #042f66; }

/* vista tablet index */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    background-color: #042f66; }
  .contenedorIndex {
    display: grid;
    grid-template-areas: "nav nav nav"
 "head head head"
 "header header header"
 "main main main"
 "main main main"
 "main main main"
 "footer footer footer";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto; }
  head {
    grid-area: head; }
  nav {
    grid-area: nav; }
  header {
    grid-area: header; }
  main {
    grid-area: main; }
  footer {
    grid-area: footer; }
  .logoImagen img {
    width: 768px; }
  .instagramRSS img {
    display: none; }
  .facebookRss img {
    display: none; }
  .whatsappRss img {
    display: none; }
  .contactoRss img {
    display: none; }
  .footerIndex {
    display: flex;
    justify-content: center; }
  .textoUno p {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    text-align: center; }
  .textoDos p {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    text-align: center; }
  .carousel-item .carousel-item :active {
    width: 768px; }
  h1 {
    font-size: 18px; }
  .cotizacionIndex img {
    display: none; } }

/* cierre vista tablet index */
/* vista movil index */
@media only screen and (min-width: 0px) and (max-width: 500px) {
  .tituloIndex h1 {
    font-size: 20px; }
  .textoUno {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .logoImagen img {
    width: 500px; }
  .cotizacionIndex img {
    display: none; }
  .footerIndex {
    display: flex;
    justify-content: center;
    margin-top: 70px; }
  .instagramRSS img {
    display: none; }
  .facebookRss img {
    display: none; }
  .whatsappRss img {
    display: none; }
  .contactoRss img {
    display: none; }
  .textoUno p {
    font-size: 15px; }
  .textoDos p {
    font-size: 15px;
    margin: 50px; } }

/* cierre de vista movil */
/* servicios */
.tituloServicios {
  margin: 40px; }

.sectionUno {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 50px; }

.sectionDos {
  display: flex;
  justify-content: center;
  padding: 20px; }

.sectionTres {
  display: flex;
  justify-content: center;
  padding: 20px; }

.textoTres {
  display: flex;
  flex-direction: column;
  color: #c1cad0;
  text-align: left;
  padding: 75px; }

.textoCuatro {
  display: flex;
  flex-direction: column;
  color: #c1cad0;
  text-align: center;
  font-size: 60px;
  padding: 50px; }

.textoCinco {
  display: flex;
  flex-direction: column;
  color: #c1cad0;
  text-align: left;
  padding: 95px; }

.campañaUno {
  display: flex;
  justify-content: right; }

.campañaTres {
  display: flex;
  justify-content: right;
  padding: 15px; }

.logoImagen {
  margin: auto; }

.parallax3 {
  background-image: url("../multimedia/parallaxservicios1.jpg");
  height: 250px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: bottom 5px; }

.footerServicios {
  background: #042f66;
  background: linear-gradient(180deg, rgba(4, 47, 102, 0.944415) 0%, #1a5ee3 30%);
  display: flex;
  flex-direction: row;
  justify-content: end; }

.titulofooter {
  padding: 15px;
  margin: 15px;
  list-style-type: none; }

.instagramRSS img {
  width: 50px;
  padding: 5px;
  margin: 5px; }

.facebookRss img {
  width: 50px;
  padding: 5px;
  margin: 5px; }

.whatsappRss img {
  width: 50px;
  padding: 5px;
  margin: 5px; }

.contactoRss img {
  width: 50px;
  padding: 5px;
  margin: 5px; }

.bg-lav {
  background: #042f66;
  background: linear-gradient(0deg, rgba(4, 47, 102, 0.944415) 0%, #1a5ee3 30%); }

.btn-primary {
  background-color: #c1cad0;
  border-color: #c1cad0;
  transition: all 0.25s ease-in-out; }

:not(.btn-check) .btn:hover {
  background-color: #c1cad0;
  border-color: #c1cad0;
  transform: scale(0.9); }

.nav-link {
  color: #c1cad0; }

.navbar-nav .nav-link.active .navbar-nav .show > .nav-link {
  color: #042f66; }

/* cierre servicios */
/* vista tablet servicios */
@media only screen and (min-width: 766px) and (max-width: 1023px) {
  body {
    background-color: #042f66; }
  .parallax3 {
    display: none; }
  .textoTres {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #c1cad0;
    font-size: 15px; }
  .textoCuatro {
    display: none; }
  .textoCinco {
    display: flex;
    flex-wrap: wrap;
    color: #c1cad0;
    text-align: left;
    font-size: 10px; }
  .campañaUno iframe {
    display: none; }
  .campañaTress {
    display: none; }
  .campañaTres iframe {
    width: 400px; }
  .logoImagen img {
    width: 768px; }
  .instagramRSS img {
    display: none; }
  .facebookRss img {
    display: none; }
  .whatsappRss img {
    display: none; }
  .contactoRss img {
    display: none; } }

/* fin vista tablet servicios */
/* vista movil servicios */
@media only screen and (min-width: 0px) and (max-width: 500px) {
  body {
    background-color: #042f66; }
  .footerServicios {
    display: flex;
    justify-content: space-around; }
  .footerServicios p {
    font-size: 12px; }
  .logoImagen img {
    width: 500px; }
  .parallax3 {
    display: none; }
  .tituloServicios h1 {
    font-size: 18px; }
  .textoTres {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 60px; }
  .textoTres p {
    font-size: 15px; }
  .textoCuatro {
    display: none; }
  .textoCinco {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 60px;
    font-size: 15px; }
  .textoCinco p {
    font-size: 15px; }
  .campañaUno iframe {
    display: none; }
  .campañaTres iframe {
    width: 250px;
    height: 300px; }
  .campañaTress {
    display: none; }
  .instagramRSS img {
    display: none; }
  .facebookRss img {
    display: none; }
  .whatsappRss img {
    display: none; }
  .contactoRss img {
    display: none; } }

/* cierre vista movil servicios */
/* Productos */
.card-body {
  border-color: #042f66;
  background: #042f66;
  background: linear-gradient(0deg, rgba(4, 47, 102, 0.944415) 0%, #1a5ee3 30%); }

.card-title {
  color: #c1cad0; }

.btn-primary {
  color: #042f66; }

.parallax4 {
  background-image: url("../multimedia/parallaxproductos1.jpg");
  height: 250px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: bottom 5px; }

.footerProductos {
  background: #042f66;
  background: linear-gradient(180deg, rgba(4, 47, 102, 0.944415) 0%, #1a5ee3 30%);
  display: flex;
  flex-direction: row;
  justify-content: end; }

.titulofooter {
  padding: 15px;
  margin: 15px;
  list-style-type: none; }

.instagramRSS img {
  width: 50px;
  padding: 5px;
  margin: 5px; }

.facebookRss img {
  width: 50px;
  padding: 5px;
  margin: 5px; }

.whatsappRss img {
  width: 50px;
  padding: 5px;
  margin: 5px; }

.contactoRss img {
  width: 50px;
  padding: 5px;
  margin: 5px; }

.bg-lav {
  background: #042f66;
  background: linear-gradient(0deg, rgba(4, 47, 102, 0.944415) 0%, #1a5ee3 30%); }

.btn-primary {
  background-color: #c1cad0;
  border-color: #c1cad0;
  transition: all 0.25s ease-in-out; }

:not(.btn-check) .btn:hover {
  background-color: #c1cad0;
  border-color: #c1cad0;
  transform: scale(0.9); }

.nav-link {
  color: #c1cad0; }

.navbar-nav .nav-link.active .navbar-nav .show > .nav-link {
  color: #042f66; }

/* cierre productos */
/* inicio vista tablet productos */
@media only screen and (min-width: 752px) and (max-width: 1023px) {
  body {
    background-color: #042f66; }
  .parallax4 {
    display: none; }
  .logoImagen img {
    width: 768px; }
  .instagramRSS img {
    display: none; }
  .facebookRss img {
    display: none; }
  .whatsappRss img {
    display: none; }
  .contactoRss img {
    display: none; } }

/* cierre vista tablet productos */
/* inicio vista movil productos */
@media only screen and (min-width: 0px) and (max-width: 500px) {
  body {
    background-color: #042f66; }
  .footerProductos {
    display: flex;
    justify-content: space-around; }
    .footerProductos img {
      display: flex;
      justify-content: space-around;
      width: 20px; }
  .logoImagen img {
    width: 500px; }
  .parallax4 {
    display: none; }
  .textoSeis {
    display: flex;
    flex-wrap: wrap;
    text-align: center; }
  .textoSiete {
    display: flex;
    flex-wrap: wrap;
    text-align: center; }
  .textoOcho {
    display: flex;
    flex-wrap: wrap;
    text-align: center; }
  .instagramRSS img {
    display: none; }
  .facebookRss img {
    display: none; }
  .whatsappRss img {
    display: none; }
  .contactoRss img {
    display: none; } }

/* cierre vista movil productos */
/* ubicacion */
.tituloUbicacion {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 20px; }

.mapa {
  display: flex;
  justify-content: center;
  padding: 20px; }

.parallax6 {
  background-image: url("../multimedia/fondoindex.jpg");
  height: 250px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: bottom 5px; }

.footerUbicacion {
  background: #042f66;
  background: linear-gradient(180deg, rgba(4, 47, 102, 0.944415) 0%, #1a5ee3 30%);
  display: flex;
  flex-direction: row;
  justify-content: end; }

.titulofooter {
  padding: 15px;
  margin: 15px;
  list-style-type: none; }

.instagramRSS img {
  width: 50px;
  padding: 5px;
  margin: 5px; }

.facebookRss img {
  width: 50px;
  padding: 5px;
  margin: 5px; }

.whatsappRss img {
  width: 50px;
  padding: 5px;
  margin: 5px; }

.contactoRss img {
  width: 50px;
  padding: 5px;
  margin: 5px; }

.cotizacionIndex img {
  width: 500px;
  padding: 5px;
  margin: 5px; }

.bg-lav {
  background: #042f66;
  background: linear-gradient(0deg, rgba(4, 47, 102, 0.944415) 0%, #1a5ee3 30%); }

.btn-primary {
  background-color: #c1cad0;
  border-color: #c1cad0;
  transition: all 0.25s ease-in-out; }

:not(.btn-check) .btn:hover {
  background-color: #c1cad0;
  border-color: #c1cad0;
  transform: scale(0.9); }

.nav-link {
  color: #c1cad0; }

.navbar-nav .nav-link.active .navbar-nav .show > .nav-link {
  color: #042f66; }

/* vista tablet ubicacion */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
  body {
    background-color: #042f66; }
  .logoImagen {
    width: auto; }
  .parallax6 {
    display: none; }
  p {
    font-size: 15px; }
  h1 {
    font-size: 18px; }
  .tituloUbicacion p {
    display: flex;
    color: #c1cad0;
    text-align: center; }
  .mapa iframe {
    display: flex;
    justify-content: center;
    width: 350px; }
  .footerUbicacion {
    display: flex;
    justify-content: center;
    padding: 50px; }
  .instagramRSS img {
    display: none; }
  .facebookRss img {
    display: none; }
  .whatsappRss img {
    display: none; }
  .contactoRss img {
    display: none; } }

/* cierre vista tablet ubicacion */
/* inicio movil ubicacion */
@media only screen and (min-width: 0px) and (max-width: 500px) {
  .contenedorUbicacion {
    display: grid;
    grid-template-areas: "head"
 "header"
 "main"
 "footer";
    grid-template-columns: 100%;
    grid-template-rows: 1fr auto auto auto; }
  .headUbicacion {
    grid-area: head; }
  header {
    grid-area: header; }
  main {
    grid-area: main; }
  .footerUbicacion {
    grid-area: footer; }
  .tituloUbicacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 10px; }
  .titulofooter p {
    font-size: 5px; }
  .mapa {
    width: 200px; }
  .logoImagen img {
    width: auto; }
  .parallax6 {
    display: none; }
  .footerUbicacion {
    margin-top: 120px; }
  .instagramRSS img {
    display: none; }
  .facebookRss img {
    display: none; }
  .whatsappRss img {
    display: none; }
  .contactoRss img {
    display: none; } }

/* cierre vista movil ubicacion */
/* inicio contacto */
.tituloContacto {
  display: flex;
  justify-content: center;
  margin: 50px; }

.seccionContacto {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
  padding: 50px; }

.form-label {
  color: #c1cad0; }

.form-check-label {
  color: #c1cad0; }

.parallax5 {
  background-image: url("../multimedia/compromiso.jpg");
  height: 250px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: bottom 5px; }

.footerContacto {
  background: #042f66;
  background: linear-gradient(180deg, rgba(4, 47, 102, 0.944415) 0%, #1a5ee3 30%);
  display: flex;
  flex-direction: row;
  justify-content: end; }

.titulofooter {
  padding: 15px;
  margin: 15px;
  list-style-type: none; }

.instagramRSS img {
  width: 50px;
  padding: 5px;
  margin: 5px; }

.facebookRss img {
  width: 50px;
  padding: 5px;
  margin: 5px; }

.whatsappRss img {
  width: 50px;
  padding: 5px;
  margin: 5px; }

.contactoRss img {
  width: 50px;
  padding: 5px;
  margin: 5px; }

.cotizacionIndex img {
  width: 500px;
  padding: 5px;
  margin: 5px; }

.bg-lav {
  background: #042f66;
  background: linear-gradient(0deg, rgba(4, 47, 102, 0.944415) 0%, #1a5ee3 30%); }

.btn-primary {
  background-color: #c1cad0;
  border-color: #c1cad0;
  transition: all 0.25s ease-in-out; }

:not(.btn-check) .btn:hover {
  background-color: #c1cad0;
  border-color: #c1cad0;
  transform: scale(0.9); }

.nav-link {
  color: #c1cad0; }

.navbar-nav .nav-link.active .navbar-nav .show > .nav-link {
  color: #042f66; }

/* inicio tablet contacto */
@media only screen and (min-width: 766px) and (max-width: 1023px) {
  body {
    background-color: #042f66; }
  .logoImagen img {
    width: 766px; }
  .seccionContacto {
    margin-top: 50px; }
  .footerContacto {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .footerContacto p {
      padding: 30px;
      list-style-type: none;
      margin-top: 40px; }
  .tituloContacto p {
    font-size: 15px; }
  .parallax5 {
    display: none; }
  .instagramRSS img {
    display: none; }
  .facebookRss img {
    display: none; }
  .whatsappRss img {
    display: none; }
  .contactoRss img {
    display: none; } }

/* cierre vista tablet */
/* inicio movil contacto */
@media only screen and (min-width: 0px) and (max-width: 500px) {
  .contenedorContacto {
    display: grid;
    grid-template-areas: "head"
 "header"
 "main"
 "footer";
    grid-template-columns: 100%;
    grid-template-rows: 1fr auto auto auto; }
  .headContacto {
    grid-area: head; }
  header {
    grid-area: header; }
  main {
    grid-area: main; }
  .footerContacto {
    grid-area: footer; }
  .tituloContacto {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .tituloContacto p {
    font-size: 15px; }
  .logoImagen img {
    width: 500px; }
  .parallax5 {
    display: none; }
  .footerContacto {
    display: flex;
    justify-content: space-around; }
  .instagramRSS img {
    display: none; }
  .facebookRss img {
    display: none; }
  .whatsappRss img {
    display: none; }
  .contactoRss img {
    display: none; } }

/* cierre vista movil contacto */
