@charset "UTF-8";
/* colores */
/*  map footer */
/* mixins */
* {
  margin: 0%;
  padding: 0%; }

html {
  font-size: 62,5%; }

body {
  background-color: #042f66;
  font-family: 'Oswald', sans-serif; }

p {
  font-size: 25px;
  color: #c1cad0; }

.tituloIndex {
  color: #c1cad0;
  text-align: center;
  font-weight: bold;
  font-size: 50px; }

main {
  padding-top: 1rem; }

.contenedorIndex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(7 1fr);
  grid-template-areas: "head head head" "header header header" "main main main" "main main main" "main main main" "main main main" "footer footer footer"; }

head {
  grid-area: head; }

header {
  grid-area: header; }

main {
  grid-area: main; }

footer {
  grid-area: footer; }

.contenedorIndex {
  background-color: #042f66; }

.textoUno {
  text-align: center;
  color: #c1cad0;
  padding: 40px;
  word-spacing: 5px; }

.textoDos {
  text-align: center;
  color: #c1cad0;
  padding: 40px; }

.footerIndex {
  background: #042f66;
  background: linear-gradient(180deg, rgba(4, 47, 102, 0.944415) 0%, #1a5ee3 30%);
  display: flex;
  flex-direction: row;
  justify-content: end; }

.titulofooter p {
  color: #c1cad0;
  padding: 5px;
  margin-top: 15px;
  list-style-type: none;
  text-align: left;
  font-size: 15px; }

.instagramRSS img {
  width: 50px;
  padding: 5px;
  margin: 5px; }

.facebookRss img {
  width: 50px;
  padding: 5px;
  margin: 5px; }

.whatsappRss img {
  width: 50px;
  padding: 5px;
  margin: 5px; }

.contactoRss img {
  width: 50px;
  padding: 5px;
  margin: 5px; }

.caruselIndex {
  width: 85%;
  margin-left: 7.5%; }

.cotizacionIndex img {
  width: 500px;
  padding: 5px;
  margin: 5px; }

.bg-lav {
  background: #c1cad0;
  background: linear-gradient(0deg, rgba(4, 47, 102, 0.944415) 0%, #1a5ee3 30%); }

.btn-primary {
  background-color: #c1cad0;
  border-color: #c1cad0;
  transition: all 0.25s ease-in-out; }

:not(.btn-check) .btn:hover {
  background-color: #c1cad0;
  border-color: #c1cad0;
  transform: scale(0.9); }

.nav-link {
  color: #c1cad0; }

.nav-item {
  color: #c1cad0; }

.nav-item a {
  color: #c1cad0; }

.navbar-nav .nav-link.active .navbar-nav .show > .nav-link {
  color: #c1cad0; }

/* vista tablet index */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    background-color: #042f66;
    overflow-x: hidden; }
  .contenedorIndex {
    display: grid;
    grid-template-areas: "nav nav nav" "head head head" "header header header" "main main main" "main main main" "main main main" "footer footer footer";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto; }
  head {
    grid-area: head; }
  nav {
    grid-area: nav; }
  header {
    grid-area: header; }
  main {
    grid-area: main; }
  footer {
    grid-area: footer; }
  .instagramRSS img {
    display: none; }
  .facebookRss img {
    display: none; }
  .whatsappRss img {
    display: none; }
  .contactoRss img {
    display: none; }
  .footerIndex {
    display: flex;
    justify-content: center;
    margin-top: 30px; }
  .textoUno p {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    text-align: center; }
  .textoDos p {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    text-align: center; }
  .carousel-item .carousel-item :active {
    width: 768px; }
  h1 {
    font-size: 18px; }
  .cotizacionIndex img {
    display: none; } }

/* cierre vista tablet */
/* inicio movil */
@media only screen and (min-width: 0px) and (max-width: 500px) {
  body {
    overflow-x: hidden; }
  .tituloIndex {
    font-size: 15px; }
  .textoUno {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 12px; }
  .cotizacionIndex img {
    display: none; }
  .footerIndex {
    display: flex;
    justify-content: center;
    margin-top: 20px; }
    .footerIndex p {
      font-size: 10px; }
  .instagramRSS img {
    display: none; }
  .facebookRss img {
    display: none; }
  .whatsappRss img {
    display: none; }
  .contactoRss img {
    display: none; }
  .textoUno p {
    font-size: 15px; }
  .textoDos p {
    font-size: 15px;
    margin: 50px; } }

/* cierre de vista movil */
/* campañas */
.contenedorCampañas {
  background-color: #042f66; }

.tituloCampanias {
  margin-top: 15px; }

.sectionUno {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 50px; }

.sectionDos {
  display: flex;
  justify-content: center;
  padding: 20px; }

.sectionTres {
  display: flex;
  justify-content: center;
  padding: 20px; }

.textoTres {
  display: flex;
  flex-direction: column;
  color: #c1cad0;
  text-align: left;
  padding: 75px; }

.textoCuatro {
  display: flex;
  flex-direction: column;
  color: #c1cad0;
  text-align: center;
  padding: 50px; }

.textoCinco {
  display: flex;
  flex-direction: column;
  color: #c1cad0;
  text-align: left;
  padding: 95px; }

.campañaUno {
  display: flex;
  justify-content: right; }

.campañaTres {
  display: flex;
  justify-content: right;
  padding: 15px; }

.parallax3 {
  background-image: url("../multimedia/parallaxservicios1.jpg");
  height: 250px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: bottom 5px;
  margin-top: 25px; }

.footerCampañas {
  background: #042f66;
  background: linear-gradient(180deg, rgba(4, 47, 102, 0.944415) 0%, #1a5ee3 30%);
  display: flex;
  flex-direction: row;
  justify-content: end; }

.titulofooter p {
  color: #c1cad0;
  padding: 5px;
  margin-top: 15px;
  list-style-type: none;
  text-align: left;
  font-size: 15px; }

.instagramRSS img {
  width: 50px;
  padding: 5px;
  margin: 5px; }

.facebookRss img {
  width: 50px;
  padding: 5px;
  margin: 5px; }

.whatsappRss img {
  width: 50px;
  padding: 5px;
  margin: 5px; }

.contactoRss img {
  width: 50px;
  padding: 5px;
  margin: 5px; }

.bg-lav {
  background: #042f66;
  background: linear-gradient(0deg, rgba(4, 47, 102, 0.944415) 0%, #1a5ee3 30%); }

.btn-primary {
  background-color: #c1cad0;
  border-color: #c1cad0;
  transition: all 0.25s ease-in-out; }

:not(.btn-check) .btn:hover {
  background-color: #c1cad0;
  border-color: #c1cad0;
  transform: scale(0.9); }

.nav-link {
  color: #c1cad0; }

.navbar-nav .nav-link.active .navbar-nav .show > .nav-link {
  color: #042f66; }

/* cierre */
/* vista tablet  */
@media only screen and (min-width: 766px) and (max-width: 1023px) {
  body {
    background-color: #042f66;
    overflow-x: hidden; }
  .tituloCampanias {
    font-size: 30px;
    margin-top: 15px; }
  .parallax3 {
    display: none; }
  .textoTres {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #c1cad0;
    font-size: 15px; }
  .textoCuatro {
    display: none; }
  .textoCinco {
    display: flex;
    flex-wrap: wrap;
    color: #c1cad0;
    text-align: left;
    font-size: 10px; }
  .campañaUno iframe {
    display: none; }
  .campañaTress {
    display: none; }
  .campañaTres iframe {
    width: 400px; }
  .instagramRSS img {
    display: none; }
  .facebookRss img {
    display: none; }
  .whatsappRss img {
    display: none; }
  .contactoRss img {
    display: none; }
  .footerCampañas {
    display: flex;
    justify-content: center; } }

/* cierre vista tablet */
/* inicio movil */
@media only screen and (min-width: 0px) and (max-width: 500px) {
  body {
    background-color: #042f66;
    overflow-x: hidden; }
  .footerCampañas {
    display: flex;
    justify-content: space-around; }
    .footerCampañas p {
      font-size: 12px; }
  .parallax3 {
    display: none; }
  .tituloCampanias {
    font-size: 18px;
    margin-top: 15px; }
  .textoTres {
    display: flex;
    justify-content: center;
    margin-left: 60px;
    font-size: 15px; }
  .textoCuatro {
    display: none; }
  .textoCinco {
    display: none; }
  .campañaUno iframe {
    display: none; }
  .campañaTres iframe {
    width: 250px;
    height: 300px; }
  .campañaTress iframe {
    width: 250px;
    height: 300px; }
  .instagramRSS img {
    display: none; }
  .facebookRss img {
    display: none; }
  .whatsappRss img {
    display: none; }
  .contactoRss img {
    display: none; } }

/* Servicios */
.contenedorServicios {
  background-color: #042f66; }

.card {
  margin-top: 50px;
  width: 80%;
  margin-left: 250px; }

.card-text p {
  color: #c1cad0; }

.card-body {
  background: #042f66;
  background: linear-gradient(0deg, rgba(4, 47, 102, 0.944415) 0%, #1a5ee3 30%); }

.card-title {
  color: #c1cad0; }

.seccionTres {
  margin-left: 150px; }

.btn-primary {
  color: #042f66; }

.parallax4 {
  background-image: url("../multimedia/parallaxproductos1.jpg");
  height: 250px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: bottom 5px;
  margin-top: 80px; }

.footerServicios {
  background: #042f66;
  background: linear-gradient(180deg, rgba(4, 47, 102, 0.944415) 0%, #1a5ee3 30%);
  display: flex;
  flex-direction: row;
  justify-content: end; }

.titulofooter p {
  color: #c1cad0;
  padding: 5px;
  margin-top: 15px;
  list-style-type: none;
  text-align: left;
  font-size: 15px; }

.instagramRSS img {
  width: 50px;
  padding: 5px;
  margin: 5px; }

.facebookRss img {
  width: 50px;
  padding: 5px;
  margin: 5px; }

.whatsappRss img {
  width: 50px;
  padding: 5px;
  margin: 5px; }

.contactoRss img {
  width: 50px;
  padding: 5px;
  margin: 5px; }

.bg-lav {
  background: #042f66;
  background: linear-gradient(0deg, rgba(4, 47, 102, 0.944415) 0%, #1a5ee3 30%); }

.btn-primary {
  background-color: #c1cad0;
  border-color: #c1cad0;
  transition: all 0.25s ease-in-out; }

:not(.btn-check) .btn:hover {
  background-color: #c1cad0;
  border-color: #042f66;
  transform: scale(0.9); }

.navbar-nav .nav-link.active .navbar-nav .show > .nav-link {
  color: #042f66; }

/* cierre */
/* inicio vista tablet */
@media only screen and (min-width: 752px) and (max-width: 1023px) {
  body {
    background-color: #042f66;
    overflow-x: hidden; }
  .parallax4 {
    display: none; }
  .instagramRSS img {
    display: none; }
  .facebookRss img {
    display: none; }
  .whatsappRss img {
    display: none; }
  .contactoRss img {
    display: none; }
  .footerServicios {
    display: flex;
    justify-content: center;
    margin-top: 85px; }
  .seccionTres {
    margin: auto;
    margin-top: 15px; }
  .card {
    margin-top: 15px;
    margin-left: 100px; } }

/* cierre vista tablet */
/* inicio movil */
@media only screen and (min-width: 0px) and (max-width: 500px) {
  body {
    background-color: #042f66;
    overflow-x: hidden; }
  .seccionTres {
    margin: auto;
    margin-top: 15px; }
  .card {
    margin: auto;
    margin-top: 15px; }
  .footerServicios {
    display: flex;
    justify-content: space-around;
    margin-top: 70px; }
    .footerServicios p {
      font-size: 12px; }
  .parallax4 {
    display: none; }
  .instagramRSS img {
    display: none; }
  .facebookRss img {
    display: none; }
  .whatsappRss img {
    display: none; }
  .contactoRss img {
    display: none; } }

/* cierre vista movil */
/* clientes */
.contenedorClientes {
  background-color: #042f66; }

.tituloClientes {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 20px;
  text-align: center;
  margin-top: 35px; }

.parallax6 {
  background-image: url("../multimedia/fondoindex.jpg");
  height: 250px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: bottom 5px; }

.textoClientes {
  text-align: center;
  color: #c1cad0;
  padding: 40px;
  margin-top: 50px; }

.footerClientes {
  background: #042f66;
  background: linear-gradient(180deg, rgba(4, 47, 102, 0.944415) 0%, #1a5ee3 30%);
  display: flex;
  flex-direction: row;
  justify-content: end; }

.titulofooter {
  color: #c1cad0;
  padding: 5px;
  margin-top: 15px;
  list-style-type: none;
  text-align: left;
  font-size: 15px;
  justify-content: center; }

.instagramRSS img {
  width: 50px;
  padding: 5px;
  margin: 5px; }

.facebookRss img {
  width: 50px;
  padding: 5px;
  margin: 5px; }

.whatsappRss img {
  width: 50px;
  padding: 5px;
  margin: 5px; }

.contactoRss img {
  width: 50px;
  padding: 5px;
  margin: 5px; }

.caruselclientes {
  width: 50%;
  margin-left: 24%;
  margin-top: 35px; }

.cardsclientes {
  margin-left: 200px; }

.card-title1 {
  color: #c1cad0;
  font-size: 40px; }

.card-footer a {
  color: #c1cad0; }

.bg-lav {
  background: #042f66;
  background: linear-gradient(0deg, rgba(4, 47, 102, 0.944415) 0%, #1a5ee3 30%); }

.btn-primarycl {
  background-color: white;
  transition: all 0.25s ease-in-out; }

:not(.btn-check) .btn:hover {
  background-color: #c1cad0;
  border-color: #c1cad0;
  transform: scale(0.9); }

.nav-link {
  color: #c1cad0; }

.navbar-nav .nav-link.active .navbar-nav .show > .nav-link {
  color: #042f66; }

.logoImagen {
  display: flex;
  justify-content: center; }

/* vista tablet */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
  body {
    background-color: #042f66;
    overflow-x: hidden; }
  .cardsclientes {
    margin-left: 100px; }
  .caruselclientes {
    margin: auto;
    width: auto; }
  .parallax6 {
    display: none; }
  .card-text {
    font-size: 12px; }
  .tituloClientes p {
    display: flex;
    color: #c1cad0;
    text-align: center;
    font-size: 18px; }
  .card-title1 {
    color: #c1cad0;
    font-size: 15px; }
  .footerClientes {
    display: flex;
    justify-content: center;
    padding: 50px; }
  .instagramRSS img {
    display: none; }
  .facebookRss img {
    display: none; }
  .whatsappRss img {
    display: none; }
  .contactoRss img {
    display: none; } }

/* cierre vista tablet */
/* inicio movil */
@media only screen and (min-width: 0px) and (max-width: 500px) {
  body {
    overflow-x: hidden; }
  .cardsclientes {
    margin: auto; }
  .card-title1 {
    font-size: 15px; }
  .card-text {
    font-size: 12px; }
  .caruselclientes {
    margin-top: 15px;
    margin: auto;
    width: auto; }
  .contenedorClientes {
    display: grid;
    grid-template-areas: "head" "header" "main" "footer";
    grid-template-columns: 100%;
    grid-template-rows: 1fr auto auto auto; }
  .headClientes {
    grid-area: head; }
  header {
    grid-area: header; }
  main {
    grid-area: main; }
  .footerClientes {
    grid-area: footer; }
  .tituloClientes {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .tituloClientes p {
      font-size: 15px; }
  .parallax6 {
    display: none; }
  .footerClientes {
    display: flex;
    justify-content: space-around;
    margin-top: 80px; }
    .footerClientes p {
      font-size: 12px; }
  .instagramRSS img {
    display: none; }
  .facebookRss img {
    display: none; }
  .whatsappRss img {
    display: none; }
  .contactoRss img {
    display: none; } }

/* inicio contacto */
.contenedorContacto {
  background-color: #042f66; }

.tituloContacto {
  display: flex;
  justify-content: center;
  margin: 50px;
  text-align: center; }

.tituloContacto p {
  color: #c1cad0; }

.mapa {
  margin-left: 20px; }

.seccionContacto {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
  padding: 50px; }

.form-label {
  color: #c1cad0; }

.form-check-label {
  color: #c1cad0; }

.parallax5 {
  background-image: url("../multimedia/compromiso.jpg");
  height: 250px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: bottom 5px; }

.footerContacto {
  background: #042f66;
  background: linear-gradient(180deg, rgba(4, 47, 102, 0.944415) 0%, #1a5ee3 30%);
  display: flex;
  flex-direction: row;
  justify-content: end; }
  .footerContacto .titulofooter p {
    color: #c1cad0;
    padding: 5px;
    margin-top: 15px;
    list-style-type: none;
    text-align: left;
    font-size: 15px; }

.instagramRSS img {
  width: 50px;
  padding: 5px;
  margin: 5px; }

.facebookRss img {
  width: 50px;
  padding: 5px;
  margin: 5px; }

.whatsappRss img {
  width: 50px;
  padding: 5px;
  margin: 5px; }

.contactoRss img {
  width: 50px;
  padding: 5px;
  margin: 5px; }

.bg-lav {
  background: #042f66;
  background: linear-gradient(0deg, rgba(4, 47, 102, 0.944415) 0%, #1a5ee3 30%); }

.btn-primary {
  background-color: #c1cad0;
  border-color: #c1cad0;
  transition: all 0.25s ease-in-out; }

:not(.btn-check) .btn:hover {
  background-color: #c1cad0;
  border-color: #c1cad0;
  transform: scale(0.9); }

.nav-link {
  color: #c1cad0; }

.navbar-nav .nav-link.active .navbar-nav .show > .nav-link {
  color: #042f66; }

/* inicio tablet contacto */
@media only screen and (min-width: 766px) and (max-width: 1023px) {
  body {
    background-color: #042f66;
    overflow-x: hidden; }
  .seccionContacto {
    margin-top: 50px; }
  .footerContacto {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .footerContacto p {
      padding: 30px;
      list-style-type: none;
      margin-top: 40px; }
  .mapa {
    display: none; }
  .tituloContacto p {
    font-size: 15px; }
  .parallax5 {
    display: none; }
  .instagramRSS img {
    display: none; }
  .facebookRss img {
    display: none; }
  .whatsappRss img {
    display: none; }
  .contactoRss img {
    display: none; } }

/* cierre vista tablet */
/* inicio movil */
@media only screen and (min-width: 0px) and (max-width: 500px) {
  body {
    overflow-x: hidden; }
  .contenedorContacto {
    display: grid;
    grid-template-areas: "head" "header" "main" "footer";
    grid-template-columns: 100%;
    grid-template-rows: 1fr auto auto auto; }
  .headContacto {
    grid-area: head; }
  header {
    grid-area: header; }
  main {
    grid-area: main; }
  .footerContacto {
    grid-area: footer; }
  .tituloContacto {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .tituloContacto p {
    font-size: 15px; }
  .parallax5 {
    display: none; }
  .mapa {
    display: none; }
  .footerContacto {
    display: flex;
    justify-content: space-around; }
  .instagramRSS img {
    display: none; }
  .facebookRss img {
    display: none; }
  .whatsappRss img {
    display: none; }
  .contactoRss img {
    display: none; } }

/* cierre vista movil contacto */
