/* campañas */

.contenedorCampañas {
    background-color: #042f66;
}

.tituloCampanias {
    margin-top: 15px;
}

.sectionUno {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 50px;
}

.sectionDos{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.sectionTres {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.textoTres {
    display: flex;
    flex-direction: column;  
    color: #c1cad0 ;
    text-align: left;
    padding: 75px;
}

.textoCuatro {
    display: flex;
    flex-direction: column;
    color:#c1cad0 ;
    text-align: center;
    padding: 50px;
}

.textoCinco {
    display: flex;
    flex-direction: column;
    color: #c1cad0 ;
    text-align: left;
    padding: 95px;
}

.campañaUno {
    display: flex;
    justify-content: right;
}

.campañaTres {
    display: flex;
    justify-content: right;
    padding: 15px;
}

.parallax3 {    background-image: url("../multimedia/parallaxservicios1.jpg");
    @include estiloparallax;
    margin-top: 25px;
}

.footerCampañas {
    background: $azulclaro;
    background: $gradientefooter;
    display: map-get($estilosfooter , display);
    flex-direction: map-get($estilosfooter , direccion);
    justify-content: map-get($estilosfooter , posicion);}
    .titulofooter p {
        color: $blanco;
        @include estilofooter;
}

.instagramRSS img{
    @include imagenesfooter;
}

.facebookRss img{
    @include imagenesfooter;
}

.whatsappRss img{
    @include imagenesfooter;
}

.contactoRss img{
    @include imagenesfooter;
}

.bg-lav{
    background: $azulclaro;
    background: $gradientemenu}

.btn-primary{
    background-color: $blanco;
    border-color: $blanco;
    transition: all 0.25s ease-in-out;
}

:not(.btn-check){
.btn:hover{
    background-color: $blanco;
    border-color: $blanco;
    transform: scale(0.9);
    }
}

.nav-link{
    color: $blanco;
}

.navbar-nav{
.nav-link.active{
.navbar-nav{
.show>{
.nav-link {
    color: $azul;
                }
            }
        }
    }
}

/* cierre */

/* vista tablet  */

@media only screen and (min-width: 766px) and (max-width:1023px){

body {
    background-color: #042f66;
    overflow-x: hidden;
}

.tituloCampanias h1{
    font-size: 30px;
    margin-top: 15px;
}

.parallax3 {
    display: none;
}

.textoTres {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    color: #c1cad0 ;
    font-size: 15px;
}

.textoCuatro {
    display: none;
}    

.textoCinco {
    display: flex;
    flex-wrap: wrap;
    color: #c1cad0 ;
    text-align: left;
    font-size: 10px;
}

.campañaUno iframe{
    display: none;
}

.campañaTress{
    display: none;
}

.campañaTres iframe{
    width: 400px;
}

.instagramRSS img{
    display: none;
}

.facebookRss img{
    display: none;
}

.whatsappRss img{
    display: none;
}

.contactoRss img{
    display: none;
}

.footerCampañas {
    display: flex; 
    justify-content: center;
}

}/* cierre vista tablet */

/* inicio movil */

@media only screen and (min-width:0px) and (max-width:500px){

body{
    background-color: #042f66;
    overflow-x: hidden;
}

.footerCampañas {
    display: flex; 
    justify-content: space-around;
    p {
    font-size: 12px;
    }
}

.parallax3 {
    display: none;
}

.tituloCampanias {
    font-size: 18px;
    margin-top: 15px;
}

.textoTres {
    display: flex; 
    justify-content: center;
    margin-left: 60px;
    font-size: 15px;
}

.textoCuatro {
    display: none;
}

.textoCinco {
    display: none;
}

.campañaUno iframe{
    display: none;
}

.campañaTres iframe{
    width: 250px;
    height: 300px;
}

.campañaTress iframe{
    width: 250px;
    height: 300px;
}

.instagramRSS img{
    display: none;
}

.facebookRss img{
    display: none;
}

.whatsappRss img{
    display: none;
}

.contactoRss img{
    display: none;
}

}