

/* clientes */

.contenedorClientes {
    background-color: #042f66;
}

.tituloClientes {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    margin-top: 35px;
}

.logoImagen img{
    margin: auto;
}

.parallax6 {    background-image: url("../multimedia/fondoindex.jpg");
    @include estiloparallax;
}

.textoClientes {
    text-align: center;
    color:  $blanco;
    padding: 40px;
    margin-top: 50px;
}

.footerClientes {
    background: $azulclaro;
    background: $gradientefooter;
    display: map-get($estilosfooter , display);
    flex-direction: map-get($estilosfooter , direccion);
    justify-content: map-get($estilosfooter , posicion);}
    .titulofooter {
    color: $blanco;
    @include estilofooter;
    justify-content: center
    }

.instagramRSS img{
    @include imagenesfooter;
}

.facebookRss img{
    @include imagenesfooter; 
}

.whatsappRss img{
    @include imagenesfooter; 
}

.contactoRss img{
    @include imagenesfooter;
}

.caruselclientes {
    width: 50%;
    margin-left: 24%;
    margin-top: 35px;
}

.cardsclientes {
    margin-left: 200px;
}

.card-title1{
    color: #c1cad0;
    font-size: 40px;
}

.card-footer a {
    color: #c1cad0;
}

.bg-lav{
    background: $azulclaro;
    background: $gradientemenu
}

.btn-primarycl{
    background-color: white;
    transition: all 0.25s ease-in-out;
}

:not(.btn-check){
.btn:hover{
    background-color: $blanco;
    border-color: $blanco;
    transform: scale(0.9);
    }
}

.nav-link{
    color: $blanco;
}

.navbar-nav{
.nav-link.active{
.navbar-nav{
.show>{
.nav-link {
    color: $azul;
                }
            }
        }
    }
}

.logoImagen {
    display: flex;
    justify-content: center;
}

/* vista tablet */

@media only screen and (min-width: 740px) and (max-width:1023px){

body {
    background-color: #042f66;
    overflow-x: hidden;
}

.cardsclientes {
    margin: auto;
}

.caruselclientes{
    margin: auto;
}

.parallax6 {
    display: none;
}

.card-text {
    font-size: 15px;
}

.tituloClientes p {
    display: flex;
    color:#c1cad0;
    text-align: center;
}    

.card-title1{
    color: #c1cad0;
    font-size: 18px;
}

.footerClientes {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.instagramRSS img{
    display: none;
}

.facebookRss img{
    display: none;
}

.whatsappRss img{
    display: none;
}

.contactoRss img{
    display: none;
}

}/* cierre vista tablet */

/* inicio movil */

@media only screen and (min-width:0px) and (max-width:500px){

body {
    overflow-x: hidden;
}

.cardsclientes {
    margin: auto;
}

.caruselclientes{
    margin: auto;
    margin-top: 15px;
}

.contenedorClientes {
    display: grid;
    grid-template-areas: 
    "head"
    "header"
    "main"
    "footer";
    grid-template-columns: 100%;
    grid-template-rows: 1fr auto auto auto;
}

.headClientes {
    grid-area: head;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

.footerClientes {
    grid-area: footer;
}

.tituloClientes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 10px;
}

.footerClientes p {
    font-size: 12px;
}

.logoImagen img {
    width: auto;
}

.parallax6 {
    display: none;
}

.footerClientes {
    margin-top: 80px;
}

.instagramRSS img {
    display: none;
}

.facebookRss img {
    display: none;
}

.whatsappRss img {
    display: none;
}

.contactoRss img {
    display: none;
}

}