
/* inicio contacto */


.tituloContacto {
    display: flex;
    justify-content: center;
    margin: 50px;
    text-align: center;
}

.logoImagen{
    margin: auto;
}

.tituloContacto p {
    color: $blanco
}

.mapa{
    margin-left: 20px;
}

.seccionContacto {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    padding: 50px;
}

.form-label {
    color: $blanco;
}

.form-check-label {
    color: $blanco;
}

.parallax5 {    background-image: url("../multimedia/compromiso.jpg");
    @include estiloparallax;
}

.footerContacto {
    background: $azulclaro;
    background: $gradientefooter;
    display: map-get($estilosfooter , display);
    flex-direction: map-get($estilosfooter , direccion);
    justify-content: map-get($estilosfooter , posicion);}
    .titulofooter p {
    color: $blanco;
    @include estilofooter;
}


.instagramRSS img{
    @include imagenesfooter;
}

.facebookRss img{
    @include imagenesfooter;
}

.whatsappRss img{
    @include imagenesfooter; 
}

.contactoRss img{
    @include imagenesfooter;
}


.bg-lav{
    background: $azulclaro;
    background: $gradientemenu}

.btn-primary{
    background-color: $blanco;
    border-color: $blanco;
    transition: all 0.25s ease-in-out;
}

:not(.btn-check){
.btn:hover{
    background-color: $blanco;
    border-color: $blanco;
    transform: scale(0.9);
    }
}

.nav-link{
    color: $blanco;
}

.navbar-nav{
.nav-link.active{
.navbar-nav{
.show>{
.nav-link {
    color: $azul;
                }
            }
        }
    }
}

/* inicio tablet contacto */

@media only screen and (min-width: 766px) and (max-width:1023px){

body {
    background-color: #042f66;
}

.logoImagen img {
    width: 766px;
}

.seccionContacto {
    margin-top: 50px;
}

.footerContacto {
    display: flex;
    flex-direction:row;
    justify-content:center;
    p{
    padding: 30px;
    list-style-type: none;
    margin-top: 40px;
    }
}

.tituloContacto p {
    font-size: 15px;
}

.parallax5 {
    display: none;
}

.instagramRSS img{
    display: none;
}

.facebookRss img{
    display: none;
}

.whatsappRss img{
    display: none;
}

.contactoRss img{
    display: none;
}

}/* cierre vista tablet */

/* inicio movil */

@media only screen and (min-width:0px) and (max-width:500px){

.contenedorContacto {
    display: grid;
    grid-template-areas: 
    "head"
    "header"
    "main"
    "footer";
    grid-template-columns: 100%;
    grid-template-rows: 1fr auto auto auto;
}

.headContacto {
    grid-area: head;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

.footerContacto {
    grid-area: footer;
}

.tituloContacto {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tituloContacto p {
    font-size: 15px;
}

.logoImagen img{
    width: 500px;
}

.parallax5 {
    display: none;
}

.footerContacto {
    display: flex; 
    justify-content: space-around;
}

.instagramRSS img{
    display: none;
}

.facebookRss img{
    display: none;
}

.whatsappRss img{
    display: none;
}

.contactoRss img{
    display: none;
}

}/* cierre vista movil contacto */