*{  
    margin: 0%;
    padding:0%;
}


html{
        font-size: 62,5%;
}

body {
    background-color: #042f66;
}

p{ 
        font-family: 'Oswald', sans-serif;
        font-size: 25px; 
        color:$blanco;
}


h1{
        color:$blanco;
        text-align:center;
        font-weight: bold;
        font-size: 50px;
        font-family: 'Oswald', sans-serif;
}


header{
        position:sticky;
        top: 0;
}

.contenedorIndex{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(7 1fr);
    grid-template-areas:
	"head head head"
	"header header header"
	"main main main"
    "main main main"
    "main main main"
    "main main main"
    "footer footer footer"
    ;
}

head {
    grid-area: head;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

.contenedorIndex {
    background-color: #042f66;
}

.textoUno {
    text-align: center;
    color:  $blanco;
    padding: 40px;
    word-spacing: 5px;
}

.textoDos {
    text-align: center;
    color:  $blanco;
    padding: 40px;
}

.textoSeis {
    color: $blanco;
    text-align: center;
}

.textoSiete {
    color:  $blanco;
    text-align: center;
}

.textoOcho {
    color: $blanco ;
    text-align: center;
}

.footerIndex {
    background: $azulclaro;
    background: $gradientefooter;
    display: map-get($estilosfooter , display);
    flex-direction: map-get($estilosfooter , direccion);
    justify-content: map-get($estilosfooter , posicion);}
    .titulofooter p {
    color: $blanco;
    @include estilofooter;
}

.instagramRSS img{
    @include imagenesfooter;
}

.facebookRss img{
    @include imagenesfooter;
}

.whatsappRss img{
    @include imagenesfooter;
}

.contactoRss img{
    @include imagenesfooter;
}


.cotizacionIndex img{
    width: 500px;
    padding: 5px;
    margin: 5px;
}

.bg-lav{
    background: $blanco;
    background: $gradientemenu}

.btn-primary{
    background-color: $blanco;
    border-color: $blanco;
    transition: all 0.25s ease-in-out;
}

:not(.btn-check){
.btn:hover{
    background-color: $blanco;
    border-color: $blanco;
    transform: scale(0.9);
    }
}

.nav-link{
    color: $blanco;
}

.nav-item {
    color: $blanco;
}

.nav-item a {
    color: $blanco;
}

.navbar-nav{
.nav-link.active{
.navbar-nav{
.show>{
.nav-link {
    color: $blanco;
                }
            }
        }
    }
}

/* vista tablet index */

@media only screen and (min-width: 768px) and (max-width:1023px){

body {
    background-color: #042f66;
}

.contenedorIndex{
    display: grid;
    grid-template-areas:
    "nav nav nav"
    "head head head"
    "header header header"
    "main main main"
    "main main main"
    "main main main"
    "footer footer footer";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto;
}

head {
    grid-area: head;
}

nav {
    grid-area: nav;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

.logoImagen img{
    width:768px;
}

.instagramRSS img{
    display: none;
}

.facebookRss img{
    display: none;
}

.whatsappRss img{
    display: none;
}

.contactoRss img{
    display: none;
}

.footerIndex {
    display: flex; 
    justify-content: center;
    margin-top: 30px;
}

.textoUno p {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    text-align: center;
}

.textoDos p {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    text-align: center;
}

.carousel-item {
.carousel-item :active{
    width: 768px;
    }
}

h1 {
    font-size: 18px;
}

.cotizacionIndex img{
    display: none;
}
}
/* cierre vista tablet */

/* inicio movil */

@media only screen and (min-width:0px) and (max-width:500px){


.tituloIndex h1 {
    font-size: 15px;
}

.textoUno {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logoImagen img{
    width: 500px;
}

.cotizacionIndex img {
    display: none;
}

.footerIndex {
    display: flex; 
    justify-content: center;
    margin-top: 70px;
}


.instagramRSS img{
    display: none;
}

.facebookRss img{
    display: none;
}

.whatsappRss img{
    display: none;
}

.contactoRss img{
    display: none;
}

.textoUno p {
    font-size: 15px;
}

.textoDos p {
    font-size: 15px;
    margin: 50px;
}

}
/* cierre de vista movil */