/* servicios */
.tituloServicios {
    margin: 40px;
}

.sectionUno {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 50px;
}

.sectionDos{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.sectionTres {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.textoTres {
    display: flex;
    flex-direction: column;  
    color: #c1cad0 ;
    text-align: left;
    padding: 75px;
}

.textoCuatro {
    display: flex;
    flex-direction: column;
    color:#c1cad0 ;
    text-align: center;
    padding: 50px;
}

.textoCinco {
    display: flex;
    flex-direction: column;
    color: #c1cad0 ;
    text-align: left;
    padding: 95px;
}

.campañaUno {
    display: flex;
    justify-content: right;
}

.campañaTres {
    display: flex;
    justify-content: right;
    padding: 15px;
}

.logoImagen{
    margin: auto;
}

.parallax3 {    background-image: url("../multimedia/parallaxservicios1.jpg");
    height: 250px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: bottom 5px;
}

.footerServicios {
    background: $azulclaro;
    background: $gradientefooter;
	display: flex;
	flex-direction:row;
	justify-content:center;}
    .titulofooter p{
    color: $blanco;
    padding: 15px;
    margin: 15px;
    list-style-type: none;
    text-align: left;
    font-size: 12px;
}

.instagramRSS img{
    width: 50px;
    padding: 5px;
    margin: 5px;  
    justify-content: end;  
}

.facebookRss img{
    width: 50px;
    padding: 5px;
    margin: 5px;
    justify-content: end;
}

.whatsappRss img{
    width: 50px;
    padding: 5px;
    margin: 5px;
    justify-content: end;
}

.contactoRss img{
    width: 50px;
    padding: 5px;
    margin: 5px;
    justify-content: end;
}

.bg-lav{
    background: $azulclaro;
    background: $gradientemenu}

.btn-primary{
    background-color: $blanco;
    border-color: $blanco;
    transition: all 0.25s ease-in-out;
}

:not(.btn-check){
.btn:hover{
    background-color: $blanco;
    border-color: $blanco;
    transform: scale(0.9);
    }
}

.nav-link{
    color: $blanco;
}

.navbar-nav{
.nav-link.active{
.navbar-nav{
.show>{
.nav-link {
    color: $azul;
                }
            }
        }
    }
}

/* cierre servicios */

/* vista tablet servicios */

@media only screen and (min-width: 766px) and (max-width:1023px){

body {
    background-color: #042f66;
}



.parallax3 {
    display: none;
}

.textoTres {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    color: #c1cad0 ;
    font-size: 15px;
}

.textoCuatro {
    display: none;
}    

.textoCinco {
    display: flex;
    flex-wrap: wrap;
    color: #c1cad0 ;
    text-align: left;
    font-size: 10px;
}

.campañaUno iframe{
    display: none;
}

.campañaTress{
    display: none;
}

.campañaTres iframe{
    width: 400px;
}

.logoImagen img{
    width: 768px;
}

.instagramRSS img{
    display: none;
}

.facebookRss img{
    display: none;
}

.whatsappRss img{
    display: none;
}

.contactoRss img{
    display: none;
}

.footerServicios {
    display: flex; 
    justify-content: center;
}

}/* cierre vista tablet */

/* inicio movil */

@media only screen and (min-width:0px) and (max-width:500px){

body{
    background-color: #042f66;
}

.footerServicios {
    display: flex; 
    justify-content: space-around;
}

.footerServicios p {
    font-size: 12px;
}

.logoImagen img{
    width: 500px;
}

.parallax3 {
    display: none;
}

.tituloServicios h1{
    font-size: 18px;
}

.textoTres {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    margin-left: 60px;
}

.textoTres p {
    font-size: 15px;
}

.textoCuatro {
    display: none;
}

.textoCinco {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    margin-left: 60px;
    font-size: 15px;
}

.textoCinco p {
    font-size: 15px;
}

.campañaUno iframe{
    display: none;
}

.campañaTres iframe{
    width: 250px;
    height: 300px;
}

.campañaTress {
    display: none;
}

.instagramRSS img{
    display: none;
}

.facebookRss img{
    display: none;
}

.whatsappRss img{
    display: none;
}

.contactoRss img{
    display: none;
}

}