

/* Servicios */

.contenedorServicios {
    background-color: #042f66;
}

.card {
    margin-top: 50px;
    width: 80%;
    margin-left: 250px;
}

.card-text p{
    color: $blanco;
}

.card-body {
    background: $azulclaro;
    background: $gradientemenu;
}

.card-title {
    color: $blanco;
}

.seccionTres {
    margin-left: 150px;
}

.btn-primary{
    color: $azul;
}

.parallax4 {    background-image: url("../multimedia/parallaxproductos1.jpg");
    @include estiloparallax;
    margin-top: 80px;
}

.footerServicios {
    background: $azulclaro;
    background: $gradientefooter;
    display: map-get($estilosfooter , display);
    flex-direction: map-get($estilosfooter , direccion);
    justify-content: map-get($estilosfooter , posicion);}
    .titulofooter p {
        color: $blanco;
        @include estilofooter;
    }



.instagramRSS img{
    @include imagenesfooter;
}

.facebookRss img{
    @include imagenesfooter; 
}

.whatsappRss img{
    @include imagenesfooter;
}

.contactoRss img{
    @include imagenesfooter;
}

.bg-lav{
    background: $azulclaro;
    background: $gradientemenu
}

.btn-primary{
    background-color: $blanco;
    border-color: $blanco;
    transition: all 0.25s ease-in-out;
}

:not(.btn-check){
.btn:hover{
    background-color: $blanco;
    border-color: $azul;
    transform: scale(0.9);
    }
}

.navbar-nav{
.nav-link.active{
.navbar-nav{
.show>{
.nav-link {
    color: $azul;
                }
            }
        }
    }
}



/* cierre */
/* inicio vista tablet */


@media only screen and (min-width: 752px) and (max-width:1023px){

body {
    background-color: #042f66;
    overflow-x: hidden;
}

.parallax4 {
    display: none;
}

.logoImagen img{
    width: 768px;
}

.instagramRSS img{
    display: none;
}

.facebookRss img{
    display: none;
}

.whatsappRss img{
    display: none;
}

.contactoRss img{
    display: none;
}

.footerServicios {
    display: flex; 
    justify-content: center;
    margin-top: 85px;
}

.seccionTres {
    margin: auto;
    margin-top: 15px;
}

.card {
    margin: auto;
    margin-top: 15px;
}


}
/* cierre vista tablet */

/* inicio movil */

@media only screen and (min-width:0px) and (max-width:500px){

body{
    background-color: #042f66;
    overflow-x: hidden;
}

.seccionTres {
    margin: auto;
    margin-top: 15px;
}

.card {
    margin: auto;
    margin-top: 15px;
}

.footerServicios {
    display: flex; 
    justify-content: space-around;
    margin-top: 70px;
    p {
    font-size: 12px;
}
}

.parallax4 {
    display: none;
}

.instagramRSS img{
    display: none;
}

.facebookRss img{
    display: none;
}

.whatsappRss img{
    display: none;
}

.contactoRss img{
    display: none;
}

}/* cierre vista movil */