

/* ubicacion */

.tituloUbicacion {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 20px;
}

.logoImagen img{
    margin: auto;
    }

.tituloUbicacion p {
    color: $blanco
}

.mapa {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.parallax6 {    background-image: url("../multimedia/fondoindex.jpg");
    height: 250px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: bottom 5px;
}

.footerUbicacion {
    background: $azulclaro;
    background: $gradientefooter;
	display: flex;
	flex-direction:row;
	justify-content:end;}
    .titulofooter p {
    color: $blanco;
    padding: 15px;
    margin: 15px;
    list-style-type: none;
}

.instagramRSS img{
    width: 50px;
    padding: 5px;
    margin: 5px;    
}

.facebookRss img{
    width: 50px;
    padding: 5px;
    margin: 5px;
}

.whatsappRss img{
    width: 50px;
    padding: 5px;
    margin: 5px;
}

.contactoRss img{
    width: 50px;
    padding: 5px;
    margin: 5px;
}

.cotizacionIndex img{
    width: 500px;
    padding: 5px;
    margin: 5px;
}

.bg-lav{
    background: $azulclaro;
    background: $gradientemenu
}

.btn-primary{
    background-color: $blanco;
    border-color: $blanco;
    transition: all 0.25s ease-in-out;
}

:not(.btn-check){
.btn:hover{
    background-color: $blanco;
    border-color: $blanco;
    transform: scale(0.9);
    }
}

.nav-link{
    color: $blanco;
}

.navbar-nav{
.nav-link.active{
.navbar-nav{
.show>{
.nav-link {
    color: $azul;
                }
            }
        }
    }
}

/* vista tablet ubicacion */

@media only screen and (min-width: 740px) and (max-width:1023px){

body {
    background-color: #042f66;
}

.logoImagen{
    width: 740px;
}

.parallax6 {
    display: none;
}

p {
    font-size: 15px;
}

h1 {
    font-size: 18px;
}

.tituloUbicacion p {
    display: flex;
    color:#c1cad0 ;
    text-align: center;;
}    

.mapa iframe {
    display: flex;
    justify-content: center;
    width: 350px;
    align-items: center;
}

.footerUbicacion {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.instagramRSS img{
    display: none;
}

.facebookRss img{
    display: none;
}

.whatsappRss img{
    display: none;
}

.contactoRss img{
    display: none;
}

}/* cierre vista tablet ubicacion */

/* inicio movil ubicacion */

@media only screen and (min-width:0px) and (max-width:500px){

.contenedorUbicacion {
    display: grid;
    grid-template-areas: 
    "head"
    "header"
    "main"
    "footer";
    grid-template-columns: 100%;
    grid-template-rows: 1fr auto auto auto;
}

.headUbicacion {
    grid-area: head;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

.footerUbicacion {
    grid-area: footer;
}

.tituloUbicacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 10px;
}

.titulofooter p {
    font-size: 5px;
}

.mapa {
    width: 280px;
    align-items: center;
}

.logoImagen img {
    width: auto;
}

.parallax6 {
    display: none;
}

.footerUbicacion {
    margin-top: 120px;
}

.instagramRSS img {
    display: none;
}

.facebookRss img {
    display: none;
}

.whatsappRss img {
    display: none;
}

.contactoRss img {
    display: none;
}

}
/* cierre vista movil ubicacion */